@model IEnumerable<CMCS.Models.Lecturer>

@{
    ViewData["Title"] = "Index";
}

<h1>Lecturers</h1>

@* Card to create Lecturer profile *@
<div class="card" style="margin-bottom: 20px">
    <h2>Add new Lecturer</h2>
    <a asp-controller="Lecturer" class="btn-action" asp-action="Create">Add</a>
</div>

@if (Model == null || !Model.Any())
{
    <h3>No lecturers :(</h3>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.LecturerID)</th>
                <th>@Html.DisplayNameFor(model => model.name)</th>
                <th>@Html.DisplayNameFor(model => model.email)</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var lecturer in Model)
            {
                <tr>
                    <td>@lecturer.LecturerID</td>
                    <td>@lecturer.name</td>
                    <td>@lecturer.email</td>
                    <td>
                        <a asp-controller="Claims" asp-action="Index" class="btn btn-primary btn-sm">View Profile</a>
                        <a asp-controller="Lecturer" asp-action="Delete" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<a asp-controller="Home" class="btn-action" style="margin-top: 20px" asp-action="Index">Back to Home</a>
