@model IEnumerable<CMCS.Models.Lecturer>

@{
    ViewData["Title"] = "Index";
}

<h1>Lecturers</h1>

@* Card to create Lecturer profile *@
<div class="card" style="margin-bottom: 20px">
    <h2>Add new Lecturer</h2>
    <a asp-controller="Lecturer" class="btn-action" asp-action="Create">Add</a>
</div>

@if (Model == null || !Model.Any())
{
    <h3>No lecturers :(</h3>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.LecturerID)</th>
                <th>@Html.DisplayNameFor(model => model.name)</th>
                <th>@Html.DisplayNameFor(model => model.email)</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.LecturerID</td>
                    <td>@item.name</td>
                    <td>@item.email</td>
                    <td>
                        <a asp-controller="Claim" asp-action="Index" asp-route-LecturerId="@item.LecturerID" class="btn-action">View Claims</a>
                        <a asp-controller="Lecturer" asp-action="Delete" asp-route-LecturerId="@item.LecturerID" class="btn-action">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<a asp-controller="Home" class="btn-action" style="margin-top: 20px" asp-action="Index">Back to Home</a>
