@model IEnumerable<CMCS.Models.Claim>

@{
    ViewData["Title"] = "Index";
}

<h1>Claims from John Doe</h1>

@* Card to add a claim for selected Lecturer profile *@

    <div class="card" style="margin-bottom: 20px">
        <h2>Create New Claim</h2>
        <a asp-controller="Claims" class="btn-action" asp-action="Create">Create</a>
    </div>

@* Table for all claims for selected Lecturer profile  *@

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.claimID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th>
                Support Documents
            </th>
        </tr>
    </thead>

    @* Hard-coded values into rows (TEMPORARY SOLUTION!!!!!!!!) *@

    <tbody>
        <tr>
            <td>
                1
            </td>
            <td>
                17-Sep-25 11:42 AM
            </td>
            <td>
                R50000
            </td>
            <td>
                Pending
            </td>
            <td class="actions">
                <a asp-controller="SupportDocument" class="btn-action" asp-action="Index">View Documents</a>
            </td>
        </tr>
@* @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.claimID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
} *@
    </tbody>
</table>

<a asp-controller="Lecturer" class="btn-action" asp-action="Index">Back to Lecturers Table</a>
