@model IEnumerable<CMCS.Models.Claim>

@{
    ViewData["Title"] = "Index";
}

@* Card to add a claim for selected Lecturer profile *@

    <div class="card" style="margin-bottom: 20px">
        <h2>Create New Claim</h2>
        <a asp-controller="Claims" class="btn-action" asp-action="Create">Create</a>
    </div>

@* Table for all claims for selected Lecturer profile  *@

@if (Model == null || !Model.Any())
{
    <h3>No claims from Lecturer :(</h3>
}
else
{
    <h3>Claims from Lecturer</h3>

    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.claimID)</th>
                <th>@Html.DisplayNameFor(model => model.date)</th>
                <th>@Html.DisplayNameFor(model => model.amount)</th>
                <th>@Html.DisplayNameFor(model => model.status)</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.claimID</td>
                    <td>@item.date</td>
                    <td>@item.amount</td>
                    <td>@item.status</td>
                    <td class="actions">
                        <a asp-controller="SupportDocument" class="btn-action" asp-action="Index">View Documents</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


<a asp-controller="Lecturer" class="btn-action" asp-action="Index">Back to Lecturers Table</a>
