@model IEnumerable<CMCS.Models.Approver>

@{
    ViewData["Title"] = "Index";
}

<h1>Approvers</h1>

@* Card to create Lecturer profile *@
<div class="card" style="margin-bottom: 20px">
    <h2>Add new Approver</h2>
    <a asp-controller="Approver" class="btn-action" asp-action="Create">Add</a>
</div>

@if (Model == null || !Model.Any())
{
    <h3>No Approvers :(</h3>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.ApproverID)</th>
                <th>@Html.DisplayNameFor(model => model.name)</th>
                <th>@Html.DisplayNameFor(model => model.role)</th>
                <th>Functions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ApproverID</td>
                    <td>@item.name</td>
                    <td>@item.role</td>
                    <td>
                        <a asp-controller="Approver" asp-action="PendingClaims"
                           class="btn-action">
                            View Pending Claims
                        </a>

                        <a asp-controller="Approver" asp-action="Delete"
                           asp-route-approverId="@item.ApproverID"
                           class="btn-action">
                            Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<a asp-controller="Home" class="btn-action" style="margin-top: 20px" asp-action="Index">Back to Home</a>
