@model IEnumerable<CMCS.Models.Claim>
@{
    ViewData["Title"] = "Claim";
}

<h1>Claims for @ViewBag.LecturerName (LecturerID: @ViewBag.LecturerID)</h1>

<div class="card" style="margin-bottom:20px">
    <a asp-action="Create" asp-route-LecturerID="@ViewBag.LecturerID" class="btn-action">Create New Claim</a>
</div>

@if (Model == null || !Model.Any())
{
    <h3>No claims yet :(</h3>
}
else
{
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>ClaimID</th>
                <th>Notes</th>
                <th>Date of Submission</th>
                <th>Hours Worked</th>
                <th>Hourly Rate</th>
                <th>Claim Status</th>
                <th>Functions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var claim in Model)
            {
                <tr>
                    <th>@claim.claimID</th>
                    <td>@claim.notes</td>
                    <td>@claim.date</td>
                    <td>@claim.hoursWorked</td>
                    <td>R @claim.hourlyRate</td>
                    <td>@claim.status</td>
                    <td>
                        <a asp-controller="SupportDocument" asp-action="Index"
                        asp-route-lecturerId="@ViewBag.LecturerID"
                        asp-route-claimId="@claim.claimID"
                        class="btn-action">
                        View Docs
                        </a>

                        <a asp-controller="Claim" asp-action="Delete" 
                        asp-route-lecturerId="@ViewBag.LecturerID"
                        asp-route-claimId="@claim.claimID" 
                        class="btn-action">
                        Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<a asp-controller="Lecturer" asp-action="Index" class="btn-action">Back to Lecturers Table</a>
