@model IEnumerable<CMCS.Models.SupportDocument>

@{
    ViewData["Title"] = "Index";
}

<div class="card" style="margin-bottom: 20px">
    <h2>Add Support Document</h2>
    <a asp-controller="SupportDocument" asp-action="Create"
       asp-route-lecturerId="@ViewBag.LecturerID"
       asp-route-claimId="@ViewBag.ClaimID"
       class="btn-action">
       Add
    </a>
</div>

@* Table for all added support documents for the selected claim *@
@if (Model == null || !Model.Any())
{
    <h3>No documents uploaded :(</h3>
}
else
{
    <h3>Documents for @ViewBag.ClaimID</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.supportDocumentID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fileName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fileType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.uploadDate)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var document in Model)
        {
            <tr>
                <td>@document.supportDocumentID</td>
                <td>@document.fileName</td>
                <td>@document.fileType</td>
                <td>@document.uploadDate</td>
                <td>
                   @*  <a asp-controller="SupportDocument" asp-action="Index" asp-route-claimId="@claim.claimID" class="btn-action">View document</a
                    <a asp-controller="SupportDocument" asp-action="Delete" asp-route-claimId="@claim.claimID" class="btn-action">Delete</a *@
                </td>
            </tr>
        }
    </tbody>
</table>
}
@* <a asp-controller="Claim" class="btn-action" asp-rooute-asp-action="Index">Back to Claims Table</a> *@

