@model IEnumerable<CMCS.Models.SupportDocument>

@{
    ViewData["Title"] = "Index";
}

@* Table for all added support documents for the selected claim *@
@if (Model == null || !Model.Any())
{
    <h3>No documents uploaded :(</h3>
}
else
{
    <h3>Documents for ClaimID @ViewBag.ClaimID</h3>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.supportDocumentID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.fileName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.fileType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.uploadDate)
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var document in Model)
            {
                <tr>
                    <td>@document.supportDocumentID</td>
                    <td>@document.fileName</td>
                    <td>@document.fileType</td>
                    <td>@document.uploadDate</td>
                    <td>
                        <a asp-controller="SupportDocument" asp-action="ViewDocument"
                           asp-route-lecturerId="@ViewBag.LecturerID"
                           asp-route-claimId="@ViewBag.ClaimID"
                           asp-route-supportDocumentID="@document.supportDocumentID"
                           class="btn-action">
                            View Document
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<a asp-controller="Approver"
   asp-action="PendingClaims"
   class="btn-action">Back to Pending Claims Table </a>

