@model IEnumerable<CMCS.Models.SupportDocument>

@{
    ViewData["Title"] = "Index";
}

<h1>Support Documents for ClaimID @ViewBag.ClaimID</h1>

<!-- View to see all supprt documents (IIE, 2025) -->
<!-- Card container for the 'Upload Support Document' button (IIE, 2025)  -->
<div class="card" style="margin-bottom: 20px">
    <a asp-controller="SupportDocument" asp-action="Create"
       asp-route-lecturerId="@ViewBag.LecturerID"
       asp-route-claimId="@ViewBag.ClaimID"
       class="btn-action">
        Upload Support Document
    </a>
</div>

<!-- If no support documents exist, show message (IIE, 2025) -->
@if (Model == null || !Model.Any())
{
    <h3>No documents uploaded :(</h3>
}
else
{
    <hr/>
    <!-- Table displaying all support documents (IIE, 2025) -->
<table class="table">
    <thead>
        <tr>
            <th>SupportDocumentID</th><th>File Name</th>
            <th>File Type</th>
            <th>Upload Date</th>
            <th>Functions</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var document in Model)
        {
            <tr>
                <th>@document.supportDocumentID</th>
                <td>@document.fileName</td>
                <td>@document.fileType</td>
                <td>@document.uploadDate</td>
                <td>
                    <a asp-controller="SupportDocument" asp-action="ViewDocument"
                     asp-route-lecturerId="@ViewBag.LecturerID"
                     asp-route-claimId="@ViewBag.ClaimID"
                     asp-route-supportDocumentID="@document.supportDocumentID"
                     class="btn-action">
                     View Document
                    </a>

                    <a asp-controller="SupportDocument" asp-action="Delete"
                     asp-route-lecturerId="@ViewBag.LecturerID"
                     asp-route-claimId="@ViewBag.ClaimID"
                     asp-route-supportDocumentId="@document.supportDocumentID"
                     class="btn-action">
                     Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
}
<a asp-controller="Claim" 
 asp-route-lecturerId="@ViewBag.LecturerID"
 asp-route-claimId="@ViewBag.ClaimID" 
 class="btn-action">Back to Claims Table </a>

